<!DOCTYPE html>
<html>
  <head>
    <title>Nutanix WdW</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <center>
          <h1> Welcome to "Who Did What"</h1>
          <h1> for Nutanix</h1>
      </center>
            <form class="form-signin" action="" method="post">
                <h2>Connect to Nutanix</h2>
              <input type="text" class="form-control" placeholder="Cluster IP address" name="ip_address" value="{{
          request.form.ip_address }}">
              <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
              <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
              <button class="button big-btn" type="submit" value="Login">Connect</button>
            </form>
          {% if error %}
        <div class="wrapper">
          <p class="error"><strong>Error:</strong> {{ error }} </p>
          {% endif %}
        </div>
    </div>
  </body>
</html>