<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Main Page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<H1>See what activites have occured on the Nutanix cluster  {{ cluster_name }}  for a specific date</H1>
<div class="container">
            <form action="" method="post">
              <label>Date</label><input type="date" placeholder="" name="investigate_date" value="{{request.form.investigate_date}}">
                <br><br>
              <input class="btn btn-default" type="submit" value="Investigate">
            </form>
          {% if error %}
        <div class="wrapper">
          <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </div>
    </div>
  </body>
</html>