<!DOCTYPE html>
<html>
  <head>
    <title>Nutanix Investigator</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h2>Welcome to Nutanix Investigator</h2>
      <br>
      <form action="" method="post">
      <p>Click <a href="/">here</a> to connect to a Nutanix cluster</p>
       </form>
    </div>
  </body>
</html>