<html>
  <head>
    <title>Nutanix Investigator</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
      <center><h1>Connect to a Nutanix Cluster</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="ip_address" name="ip_address" value="{{
          request.form.ip_address }}">
          <br>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
          <br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <br><br>
        <input class="btn btn-default" type="submit" value="Login">
      </form></center>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>