{% extends "base.html" %}
{% block content %}

    <div class="wrapper">
      <center>
          <img src="{{ url_for('static', filename='ntnx-logo.jpeg') }} "alt="Nutanix">
          <h1> Welcome to Nutanix Event Log Search (ELS)</h1>
      </center>
            <form class="form-signin" action="" method="post">
                <h2>Connect to Nutanix</h2>
              <input type="text" class="form-control" placeholder="Cluster IP address" name="ip_address" value="{{
          request.form.ip_address }}">
              <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
              <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
              <button class="button big-btn" type="submit" value="Login">Connect</button>
            </form>
    </div>

{% endblock %}